{% extends 'base.html' %}

{% block title %}Stock detail {{ stock.pk }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h3>Stock details</h3>
        <p>{{ stock.description }}</p>
        <p>{{ stock.get_address }}</p>
        <a class="btn btn-info" href="{% url 'stock' %}">&larr; Return stock</a>
        <a class="btn btn-warning" href="/stock/add">Stock add</a>
        <a class="btn btn-danger" href="/stock/1/edit">Stock edit</a>
		<br>
		<br>
    </div>


{% endblock %}