<!-- In order to attach footer to the bottom i added bootstrap class footer navbar-fixed-bottom -->

<footer class="footer">
  <div class="container">
    <p style="font-style: oblique; margin-top: 5px;" class="text-center"><b>Designed by Volodymyr Petryna.</b></p>
    <p style="font-style: oblique;" class="text-right">Follow me with social media</p>
      <div class="row">
        <div class="col-sm-6">
          <ul>
            <li><a href="/admin">Django-admin</a></li>
            <li><a href="/person">Person</a></li>
            <li><a href="/place">Place</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/stock">Stock</a></li>
          </ul>

          </div>
            <div class="col-sm-6 text-right">
            <ul>
              <li><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="Nema)"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="https://www.linkedin.com/in/%D0%B2%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BC%D0%B8%D1%80-%D0%BF%D0%B5%D1%82%D1%80%D0%B8%D0%BD%D0%B0-998135135/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="Nema)"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
              <li><a href="https://github.com/vova1995/" target="_blank"><i class="fa fa-git" aria-hidden="true"></i></a></li>
             </ul>
            </div>
      </div>
  </div>
</footer>