{% extends 'base.html' %}

{% block title %}Place List{{ place.pk }}{% endblock %}

{% block content %}

    <br>

    <div class="container text-left">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                        <div class="panel-heading"><h4>List of cities</h4></div>
                         {% for c in city %}
                        <div class="panel-body"><a class="btn btn-success" href="{% url 'place_detail' c.id %}">{{ c }}</a></div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}