{% extends 'base.html' %}

{% block title %}Type List{% endblock %}

{% block content %}

    <br>


    <div class="container text-left">
        <div class="row">
            <div class="col-sm-5">
                <div class="panel panel-primary">
                <div class="panel-heading"><h4>Type Shop list&nbsp;&nbsp;&nbsp;<a style="border-radius: 25px" class="btn btn-danger" href="{% url 'type_add' %}">Add type of shop</a></h4></div>
                {% for t in type %}
                    <div class="panel-body"><a class="btn btn-success" href="{% url 'type_detail' t.id %}">{{ t }}</a>&nbsp;&nbsp;&nbsp;<a style="border-radius: 25px;" class="btn btn-warning" href="{% url 'type_edit' t.id %}">Type edit</a></div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>





{% endblock %}